  .input {
    /* border-radius: 5px; */
    /* border: none; */
    border: 2px solid white;
    background: #f6f6f6;
    color: #666;
    /* padding: 15px; */
    font-size: 1.3rem;
  }

  .passlabel {
    display: block;
    /* margin-bottom: 10px; */
    font-size: 1.5rem;
  }

  .showPass {
    cursor: pointer;
    display: inline-block;
    /* margin-left: -40px; */
  }
