* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

form{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

h1 {
  font-size: 30px;
  font-weight: 800;
  font-family: "Roboto", sans-serif;
  color: black;
}

span {
  font-size: 12px;
  color: beige;
  font-family: "Roboto Condensed", sans-serif;
}

p {
  font-size: 14px;
  font-weight: bold;
  line-height: 20px;
  letter-spacing: 0.5px;
  margin: 20px 0 30px;
  font-family: "Roboto", sans-serif;
}

a {
  color: #fff;
  font-size: 14px;
  text-decoration: none;
  margin: 15px 0;
}


button {
  color: #111;
  font-size: 12px;
  font-weight: bold;
  padding: 12px 35px;
  margin-top: 15px;
  border-radius: 20px;
  text-transform: uppercase;
  transition: transform 80ms ease-in;
}

/* input[type="text"],
input[type="email"],
input[type="password"] {
  width: 240px;
  text-align: center;
  background: transparent;
  border-bottom: 1px solid #fff;
  font-family: "Roboto", sans-serif;
  font-size: 16px;
  font-weight: 200px;
  padding: 10px 0;
  transition: border 0.5s;
  color: #fff;
  font-weight: bold;
}

button:active {
  transform: scale(0.95);
}

button:focus {
  outline: none;
} */
